@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>
        <img src="/engine.png" style="max-width: 30px" />
        Creating a project to learn and implement methods in the controller.</h4>
    <h6>- Upload Images</h6>
    <h6>- Upload Arquivos</h6>
</div>
